# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.exe
*.ilk
*.tlog
*.obj
*.sdf
*.idb
*.pdb
*.lib

Debug
Release
UpgradeLog.XML
UpgradeLog.htm
_UpgradeReport_Files
/*.opensdf
