# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.exe
*.ilk
*.tlog
*.obj
*.sdf
*.idb
*.pdb

Debug
Release
UpgradeLog.XML
UpgradeLog.htm
_UpgradeReport_Files
*.opensdf
*.ipch
/*.suo
/AV-CSG/*.APS
/AV-GSG.zip
/other
/*.zip
